@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

:root {
    --color1: #eabed5;
    --color2: #d6a0bf;
    --color3: #b97ea6;
    --color4: #985b87;
    --color5: #69224e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Amatic SC', sans-serif;
}

header {
    background-color: var(--color4);
    height: 10vh;
    max-height: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    background-color: var(--color2);
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#game-container {
    min-width: 500px;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#controls {
    font-family: 'Amatic SC', sans-serif;
    font-size: 25px;
    font-weight: 600;
    background-color: var(--color1);
    border-radius: 15px;
    width: 200px;
    height: 350px;
    margin-left: 50px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.q-container {
    font-size: 30px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.q-container label {
    margin-right: 10px;
}

#quantity {
    width: 50px;
    font-family: 'Amatic SC', sans-serif;
    font-size: 25px;
    font-weight: 600;
    padding-left: 10px;
    height: 30px;
}

button {
    font-family: 'Amatic SC', sans-serif;
    font-weight: 600;
    font-size: 25px;
    width: 130px;
    height: 40px;
    margin-bottom: 15px;
}

#controls p {
    font-size: 40px;
}

footer {
    background-color: var(--color4);
    height: 10vh;
    display: flex;
}

.git-link {
    text-decoration: none;
    color: #000;
    margin: auto;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

.git-link p {
    margin-left: 5px;
    margin-top: -3px;
}

.git-link:hover {
    background-color: #333;
    color: rgb(255 255 255);
}

.git-link svg {
    transition: 1s;
}

.git-link:hover svg {
    filter: invert(1);
}